<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="ConnectionString" connectionString="Data Source = DESKTOP-K1CIPD3; Initial Catalog = CinemaDB; Integrated Security = True"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<appSettings>
		
		
		<add key="SelectParent" value="SELECT * FROM Cinema"/>
		<add key="SelectChild" value="SELECT * FROM MovieRoom"/>
		<add key="ParentTable" value="Cinema"/>
		<add key="ChildTable" value="MovieRoom"/>
		<add key="ParentKey" value="CinemaID"/>
		<add key="ChildFK" value="CID"/>
		<add key="ForeignKey" value="FK__MovieRoom__CID__7187CF4E"/>
		<!--
		<add key="SelectParent" value="SELECT * FROM Movie"/>
		<add key="SelectChild" value="SELECT * FROM MovieReview"/>
		<add key="ParentTable" value="Movie"/>
		<add key="ChildTable" value="MovieReview"/>
		<add key="ParentKey" value="MovieID"/>
		<add key="ChildFK" value="ReviewedMovie"/>
		<add key="ForeignKey" value="FK__MovieRevi__Revie__1758727B"/>
		-->
	</appSettings>

</configuration>